################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/site/FileContentIndex/d0a34ee7-8023-46de-a40c-1d519fd65be8.vsidx
/.vs/site/FileContentIndex/bc600e36-a72c-48d3-927b-2f53881a80ab.vsidx
/.vs/site/FileContentIndex/9b98c882-d8af-4f92-9330-df48cf27986e.vsidx
/.vs/site/FileContentIndex/895a9b9d-2941-4ca8-aee7-e7eee111e5b3.vsidx
/.vs/slnx.sqlite
/.vs/site/FileContentIndex/b1bf3a87-6473-415b-9bc6-f9cfd790f01a.vsidx
