body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  overflow: hidden;
  position: fixed;
  font-family: sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  touch-action: none;
}
html {
  position: fixed;
  height: 101vh;
}
ul { 
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0px;
  margin: 0px;
 }
li { 
  list-style: none;
  margin: 0px; 
  padding: 0px; 
  width: 100vw;  
}

.colorBar {
    list-style: none;
    left: 0px;
    background-size: contain;
    background-repeat: no-repeat;

    
    /* position: absolute; */
}

/* .colorBarHidden {
    /* background-color: rgb(80 80 80) !important;
    background-image: url(../images/hidden.png);
    background-size: 100% 100%;
    background-blend-mode: hard-light;
    opacity: 0.7;
    box-shadow: none;
} */ 

.colorBarLocked {
  background-image: url(../images/lock.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#colorDiv {
  height: 90%;
}

#completeOverlay {
    width: 100vw;
    height: 100vh;
    z-index: 33333;
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
    background-color: white;
    mix-blend-mode: color;
}

#completeTick {
  background-image: url('../images/tick.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100vw;
  height: 25vh;
  z-index: 2;
  position: fixed;
  right: 0vw;
  bottom: 0vw;
  filter: drop-shadow(1vh 1vh 1vh #000);
}

#divColorCountUp, #divColorCountDown {
  position: fixed; 
  right: 0px; 
  top: 10vh; 
  height: 5vh; 
  width: 10vh;
  cursor: pointer;
  background-color: gainsboro;
}

#divColorCountUp {
  top: 10vh;
}

#divColorCountDown {
  top: 25vh;
}

#menu {
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 3em;
  background-color: #565656;
  text-align: center;
  padding-top: 3px;
  border-radius: 1em;
}

#menuConfirm {
  display: block;
  position: fixed;
  bottom: 3em;
  width: 100vw;
  height: 3em;
  background-color: #565656;
  text-align: center;
  padding-top: 3px;
  border-radius: 1em;
}

.menu-nav__link {
  background-color: #b5b5b5;
  border: none;
  color: black;
  padding: 0.7em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 0.5em;
}

.hintHide {
    transition: box-shadow 1.2s ease-in;
    transition: background-image 1.5s ease-in;
}

#colorRange {
    position: absolute;
    top: 0px;
    right: 19px;
}