body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    overflow: hidden;
    position: fixed;
    font-family: sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    touch-action: none;
}

html {
    position: fixed;
    height: 101vh;
}




ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0px;
    margin: 0px;
    width: 100vw;
}

li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

.colorBar {
    list-style: none;
    left: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    /* position: absolute; */
}



.colorBar > img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#colorDiv {
    height: 90%;
}

#completeOverlay {
    width: 100vw;
    height: 100vh;
    z-index: 33333;
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
    background-color: white;
    opacity: 0.7;
    text-align: right;
}

#completeTick {
    width: 100vw;
    height: 25vh;
    z-index: 44444;
    position: fixed;
    right: 0vw;
    bottom: 0vw;
    filter: drop-shadow(1vh 1vh 1vh #000);
    text-align: right;
}

/*#divColorCountUp, #divColorCountDown {
    position: fixed;
    right: 0px;
    top: 10vh;
    height: 5vh;
    width: 10vh;
    cursor: pointer;
    background-color: gainsboro;
}

#divColorCountUp {
    top: 10vh;
}

#divColorCountDown {
    top: 25vh;
}*/

#menu {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 3em;
    background-color: #565656;
    text-align: center;
    padding-top: 3px;
}

#menuConfirm {
    display: block;
    position: fixed;
    bottom: 3em;
    width: 100vw;
    height: 3em;
    background-color: #565656;
    text-align: center;
    padding-top: 3px;
    border-radius: 1em;
}

.hintHide {
    transition: box-shadow 1.2s ease-in;
    transition: background-image 1.5s ease-in;
}

#colorRange {
    position: absolute;
    top: 5px;
    right: 5px;
    background: white;
    padding: 2px 5px;
    border-radius: 6px;
}

#gameCountLifetime {
    position: fixed;
    top: 5px;
    left: 5px;
    border: none;
    display: inline-block;
    color: #000;
    font-size: 1.5em;
}



.menu-nav__link {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    color: inherit;
    background-color: inherit;
    color: #fff;
    background-color: #000;
}
