body {
    padding: 0;
    margin: 0;
    position: fixed;
    touch-action: none;
}
#devicecontainer {
    display: flex;
    align-items: center;
    width: 100vw;
}

#device {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55.66%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}


#gamebackground {
    background-image: url(../images/gamebackground.png);
    width: 50%;
    height: 59%;
    background-repeat: no-repeat;
    top: 17%;
    left: 25%;
    position: absolute;
    background-size: contain;
    width: 50%;
}

.spritecanvas {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.directionButton {
    position: absolute;
    z-index: 2;
    /*border: solid 1px;*/
}

#btnUp {
    top: 49%;
    left: 7%;
    height: 10%;
    width: 6%;
}

#btnDown {
    top: 67%;
    left: 7%;
    height: 10%;
    width: 6%;
}

#btnLeft {
    top: 59%;
    left: 1%;
    height: 8%;
    width: 7%;
}

#btnRight {
    top: 59%;
    left: 12%;
    height: 8%;
    width: 7%;
}

#btnJump {
    top: 55%;
    left: 83%;
    height: 19%;
    width: 12%;
}

#toolbox {
    position: absolute;
    top: 0px;
    left: 0px;
    border: solid 1px;
    height: 50%;
    width: 20%;
    z-index: 3
}


/* TODO: disable text highlighting */
/* TODO: stop screen zooming on double click/pinch zoom */
/* TODO: hide url bar */
